Connected Services/ProfileService/item32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.74:9021/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameServices" />
  <xs:element name="GetDataPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gamerKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveDataPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="player" nillable="true" type="q1:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveDataPlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gamerKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveStatPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="statPlayer" nillable="true" type="q2:Stat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveStatPlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>