Connected Services/GameBoardService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.74:9023/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.1.74:9023/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GameServices" />
  <xs:import schemaLocation="http://192.168.1.74:9023/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="InicialiceGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="gamerTags" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="IDLobbie" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gamerTag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardsFromPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gamerTag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDLobbie" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardsFromBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDLobbie" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="gamerTags" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTurnPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDLobbie" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGamerInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDLobbie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamerTag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDLobbie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamerTag" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="cityCard" nillable="true" type="q3:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarkers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdLobbie" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimTrainCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDLobbie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamerTag" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="cardTrainColor" nillable="true" type="q4:TrainCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimDeckTrainCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDLobbie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamerTag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableCyties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDLobbie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamerTag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdLobbie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamerTag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseInicialiceGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseRegisterCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseGetCardsFromPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="gamerBoard" nillable="true" type="q5:GamerBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseGetCardsFromBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="boardCards" nillable="true" type="q6:ArrayOfTrainCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseGetTurnPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="gamerBoard" nillable="true" type="q7:GamerBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseGetGamerInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="gamerBoard" nillable="true" type="q8:GamerBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseGetMarkers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="gamerBoards" nillable="true" type="q9:QueueOfGamerBoardaXgr9kXt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveUpdateCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="gamerBoard" nillable="true" type="q10:GamerBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseClaimDeckTrainCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="trainCard" nillable="true" type="q11:TrainCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseGetAvailableCyties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="cities" nillable="true" type="q12:ArrayOfCity" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="gamerBoard" nillable="true" type="q13:GamerBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseClaimRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="gamerBoard" nillable="true" type="q14:GamerBoard" />
        <xs:element minOccurs="0" name="cityOrigin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveResponseFinalyGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GameServices" minOccurs="0" name="gamerBoard" nillable="true" type="q15:GamerBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>