Connected Services/GameBoardService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.74:9023/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GameServices" />
  <xs:complexType name="QueueOfGamerBoardaXgr9kXt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="QueueOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GamerBoard" Namespace="http://schemas.datacontract.org/2004/07/GameServices" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameServices" name="_array" nillable="true" type="q1:ArrayOfGamerBoard" />
      <xs:element name="_head" type="xs:int" />
      <xs:element name="_size" type="xs:int" />
      <xs:element name="_tail" type="xs:int" />
      <xs:element name="_version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueOfGamerBoardaXgr9kXt" nillable="true" type="tns:QueueOfGamerBoardaXgr9kXt" />
</xs:schema>