Connected Services/LobbiesService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.74:9018/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateLobbie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gamerKeyHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GamerTagHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="capacity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinLobbie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbieID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamerKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamerTag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistLobbie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbieID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEndedLobbie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbieID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LobbieAreAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbieID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmationCreationLobbie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confirmation" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmationCreationLobbieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveLobbieID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbieID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveLobbieIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinedSucessFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="joinedSuccessful" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinedSucessFullResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseExistLobbie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseExistLobbieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseIsEndedLobbie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseIsEndedLobbieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseLobbieAreAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseLobbieAreAvailableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLobbieHost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gamerKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbieID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExitFromLobbie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbieID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamerKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamerTag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isHost" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gamerKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Invitatefriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gamerTag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamerTagFriend" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbieID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GoToTheGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="gamers" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseIsLobbieHost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isLobbieHost" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseIsLobbieHostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerListRealTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="playerList" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseExitFromLobbie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseExitFromLobbieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveFriendList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="friendList" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveConfirmationOfInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confirmationOfInvitation" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponseGoToTheGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>