Connected Services/EmailManagementService/EmailManagementControler1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="EmailManagementControler" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEmailManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.74:9016/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.74:9016/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmailManagement_SendPasswordResetEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordResetEmail" />
  </wsdl:message>
  <wsdl:message name="IEmailManagement_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IEmailManagement_ReceiveConfirmationEmail_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveConfirmationEmail" />
  </wsdl:message>
  <wsdl:message name="IEmailManagement_ReceiveConfirmationEmail_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveConfirmationEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailManagement_ReceiveConfirmationChangePassword_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveConfirmationChangePassword" />
  </wsdl:message>
  <wsdl:message name="IEmailManagement_ReceiveConfirmationChangePassword_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveConfirmationChangePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmailManagement">
    <wsdl:operation name="SendPasswordResetEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailManagement/SendPasswordResetEmail" message="tns:IEmailManagement_SendPasswordResetEmail_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailManagement/ChangePassword" message="tns:IEmailManagement_ChangePassword_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveConfirmationEmail">
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailManagement/ReceiveConfirmationEmail" message="tns:IEmailManagement_ReceiveConfirmationEmail_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailManagement/ReceiveConfirmationEmailResponse" message="tns:IEmailManagement_ReceiveConfirmationEmail_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveConfirmationChangePassword">
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailManagement/ReceiveConfirmationChangePassword" message="tns:IEmailManagement_ReceiveConfirmationChangePassword_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailManagement/ReceiveConfirmationChangePasswordResponse" message="tns:IEmailManagement_ReceiveConfirmationChangePassword_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEmailManagement" type="tns:IEmailManagement">
    <wsp:PolicyReference URI="#NetTcpBinding_IEmailManagement_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendPasswordResetEmail">
      <soap12:operation soapAction="http://tempuri.org/IEmailManagement/SendPasswordResetEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/IEmailManagement/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReceiveConfirmationEmail">
      <soap12:operation soapAction="http://tempuri.org/IEmailManagement/ReceiveConfirmationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveConfirmationChangePassword">
      <soap12:operation soapAction="http://tempuri.org/IEmailManagement/ReceiveConfirmationChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailManagementControler">
    <wsdl:port name="NetTcpBinding_IEmailManagement" binding="tns:NetTcpBinding_IEmailManagement">
      <soap12:address location="net.tcp://192.168.1.74:9017/GameServices" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.74:9017/GameServices</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>